:root {
    --main-color: #c93429;
    --body-bg: #ffffff;
    --second-bg: #efedee;
    --text-color: #000000;
    --text-white: #ffffff;
    --text-gray: #868686;
    --main-hover: #9b2d25;

    --section-space: 100px;
    --nav-size: 70px;
    --logo-size: 70px;
    --banner-height: 400px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 16px;
}

body {
    font-family: 'Antonio', sans-serif;
    background-color: var(--body-bg);
    padding-top: var(--nav-size);
    overflow-x: hidden;
}

a {
    color: unset;
    text-decoration: none;
    display: inline-block;
}

.main-color {
    color: var(--main-color)
}

.text-gray {
    color: var(--text-gray)
}

.container-fluid {
    padding: 0 30px;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    align-items: center;
    background-color: var(--body-bg);
}

.nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: var(--logo-size);
}


.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.nav-menu li {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-menu li a {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.nav-menu li a:hover {
    color: var(--main-color)
}

.menu-main {
    position: fixed ;
    top: 5px;
    left: 0;
    width: 100%;
    justify-content: center;
    height: var(--nav-size);
    pointer-events: none;
}

.menu-main li a {
    pointer-events: visible;
}

.toggle-ul {
    list-style-type: none;
}

.toggle-button {
    top: 0.75rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 10px;
}

.hero-section {
    height: calc(100vh - var(--nav-size));
}

.hero-section .row,
.hero-section .col-4,
.hero-section .col-8 {
    height: 100%;
}

.slide-img-col {
    position: relative;
    background-color: var(--second-bg);
}

.slide-img-wrapper {
    display: grid;
    height: 100%;
    place-items: center;
}

.slide-img {
    --size: 800px;
    height: var(--size);
    width: var(--size);
    overflow: hidden;
    margin-left: 15%;
}

.slide-img img {
    width: 100%;
    height: 100%;
}

.slide-info-wrapper {
    position: relative;
    display: grid;
    place-items: center;
    height: 100%;
}

.slide-info {
    overflow: visible;
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}

.slide-info.active {
    opacity: 1;
    visibility: visible;
}

.slide-info>div {
    overflow: hidden;
}

.top-down {
    transform: translateY(-200px);
    transition: transform 0.5s ease-in-out;
}

.slide-info.active .top-down {
    transform: translateY(0);
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-4 {
    transition-delay: 0.4s;
}

.delay-6 {
    transition-delay: 0.6s;
}

.slide-name {
    white-space: nowrap;
}

.slide-name h3 {
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 90px;
}

.slide-description {
    margin-bottom: 90px;
}

.btn {
    padding: .5rem 1.5rem;
    background-color: var(--main-color);
    color: var(--text-white);
    font-size: 1rem;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--main-hover);
}

.btn-lg {
    padding: 1rem 3.5rem;
    font-size: 1.5rem;
}

.hero-slide-toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--body-bg);
    display: flex;
    padding: 20px;
    font-size: 2rem;
}

.hero-slide-toggle-prev,
.hero-slide-toggle-next {
    cursor: pointer;
}

.hero-slide-toggle-prev:hover,
.hero-slide-toggle-next:hover {
    color: var(--main-color)
}

.hero-slide-index {
    margin: 0 30px;

}

.banner {
    height: var(--banner-height);
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

.banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s ease 0s;
}

.banner:hover .banner-bg {
    transform: scale(1.2);
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--text-white);
    padding: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.section {
    padding-top: var(--section-space);
}

.section-header {
    margin-bottom: 80px;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.products-slide {
    padding: 0 40px;
}

.product-img {
    background-color: var(--second-bg);
    position: relative;
}

.product-action {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
}

.product-action>* {
    transform: translateY(-100%);
    transition: transform 0.4s ease 0s;
}

.product:hover .product-action>* {
    transform: translateY(0);
}

.product-info {
    padding: 0 15px;
}

.product-info>div {
    padding-top: 15px;

}

.product-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-gray);
}

.product-name {
    font-size: 1.25rem;
}

.glide {
    position: relative;

}

.glide__arrows {
    width: 100%;

}

.glide__arrow {
    --position: -65px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 3.5rem;
    color: var(--text-gray);
}

.glide__arrow:hover {
    color: var(--main-color)
}


.glide__arrow--left {
    left: var(--position);
    margin: 25px;

}


.glide__arrow--right {
    right: var(--position);
    margin: 25px;
}

.section-about {
    margin: 100px 0 250px;
    margin-left: 2%;
}

.bg-fixed {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-main {
    background-color: var(--body-bg);
}

.about-img {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -250px;
}

.product-about {
    padding: 0 80px;
}

.product-about>* {
    margin-top: 30px;
}

.product-about>.product-img {
    margin-top: 80px;
}

.product-about>span {
    text-transform: uppercase;
}

.product-about>p {
    color: var(--text-black);
}

.product-about>h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

.medium-logo {
    width: 12rem;
}

.gallery-img {
    padding-top: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-holder {
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s ease 0s;
}

.gallery-img .banner-overlay {
    display: none;
}

.gallery-img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 2rem;
    color: var(--text-white);
    transition: transform 0.3s ease 0s;
}

.gallery-img:hover .banner-overlay {
    display: block;
}

.gallery-img:hover .img-holder {
    transform: scale(1.2);
}

.gallery-img:hover i {
    transform: translate(-50%, -50%) scale(1);
}

#testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.1);
    background-color: var(--body-bg);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: var(--text-black);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: var(--text-gray);
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

footer {
    padding-bottom: 80px;
    margin-left: 30px;
}

.footer-content p {
    margin-top: 20px;

}

.social-list {
    margin-top: 30px;
    display: flex;
}

.social-list i {
    margin-right: 20px;
    font-size: 1.5rem;
}

.social-list i:hover {
    color: var(--main-color);
}

#logo-footer {
    margin-top: 2%;
    /*
    margin-left: 5%;
    */
}

.footer-content-header {
    margin-bottom: 30px;
    margin-top: 80px;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#footer-list {
    /*
    margin-left: 150px;
    */
}

.footer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer-content ul {
    list-style-type: none;
    height: 100%;
}

.footer-iframe {
    min-height: 200px;
    min-width: 200px;
    position: relative;
    width: calc(100% - 15px);
    height: 100%;
}

.footer-content ul li a {
    color: var(--text-gray);
    margin-top: 10px;
}

.footer-content ul li a:hover {
    color: var(--main-color);
}

.copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--second-bg);
}

.copyright a:hover {
    color: var(--main-color);
}


@media(max-width: 1271px) {
    .hero-section {
        max-width: 100px;
    }

   

    .slide-img{
        width: 700px;
        height: 750px;
    }

    

}

@media (max-width: 1100px){
   

    

}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
        margin-left: 50px;
    }

    .menu-main {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 85px;
        padding-bottom: 5px;
        width: 100%;
        height: 150px;
        background-color: var(--body-bg);
    }

    .nav-menu li {
        margin-left: 10px;
        margin-right: 10px;
    }

    .menu-main.active {
        display: flex;
    }


}


@media screen and (max-width: 500px) {
    .footer-content {
        align-items: center;
    }

    .hero-section{
        height: 590px;
    }

    .slide-info{
        margin-left: -190px;
        width: 300px;
        margin-top: 10px;
        height: 400px;
    }

    .slide-info-wrapper{
        height: 500px;
    }
    
    .slide-info h3{
        font-size: 30px;
    }

    .slide-info p{
        font-size: 15px;
        font-weight: 100;
        background-color: rgb(255, 255, 255, 0.5);
        

    
    }
    .hero-section{
        width: 100px;
    }
   
    .slide-image-wrapper{
        height: 300px;
        width: 300px;
    }

    .slide-img-col{
        margin-top: -600px;
        
    }

    .slide-img{
        width: 300px;
        height: 300px;
        margin-left: 70px;
        margin-top: 10px;

    }

    .slide-action{
        display: none;
    }

    .hero-slide-toggle{

    }

    .product-about{
        padding: 0;
        margin-left: -10px;
    }

    .product-about{
        width: 85%;
    }

    .product-about h2{
        font-size: 2rem;
        margin: 0px;
    }

    .product-about p{
        font-size: 15px;
    }

    
    .bg-main{
        padding: 0px;
        width: 202px;
    }

    .row{
        margin: 0;
    }
    .glide__slides{
        width: 400px;
    }
   

    

    
    
    


    
}
